@font-face {
    font-family: outfitRegular;
    src: url(../fonts/Outfit-Regular.ttf);
}
@font-face {
    font-family: outfitSemiBold;
    src: url(../fonts/Outfit-SemiBold.ttf);
}
@font-face {
    font-family: outfitLight;
    src: url(../fonts/Outfit-Thin.ttf);
}
@font-face {
    font-family: outfitBold;
    src: url(../fonts/Outfit-Bold.ttf);
}
*{
    font-family: outfitRegular;
    color: white;
    font-size: 1.2rem;
}
.hide{
    display: none;
}
:root{
    --cool-gray:#9A9CB2;
    --cool-gray2:#1b1b1d5b;
    --charcoal-option: #3A4960;
    --veronica-btn:#A529FC;
    --veronica-btn-empty:#8749b480;
    --charcoal-bg:#2E3949;
}
.wrapper{
    background-color: var(--charcoal-bg);
}
.header{
    padding:1.5rem 4.5rem;
}
.header p{
    font-family: outfitBold;
}
.header {
    font-family: outfitBold;
}
.content_body{
    background-color: var(--charcoal-bg);
    padding:4rem 4.5rem;
}
.option{
    background-color: var(--charcoal-option);
    width: 100%;
    max-width: 550px;
    padding: 0.5rem ;
    cursor: pointer;
}
label{
    cursor: pointer;
}
.icon img{
    width: 24px;
}
.icon{
    width: 50px;
    color: rgb(63, 63, 63);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option.selected{
    border: 1px solid gray;
    transform: scale(0.9);
}
.option p{
    text-transform: capitalize;
}
.intro p{
    font-family: outfitLight;
    font-size: 3rem;
}
.intro p span{
    font-family: outfitBold;
    font-size: 3rem;
}
input[type = 'radio']{
   display: none;
}
.questionList{
    font-family: outfitSemiBold;
    font-size: 1.5rem;
}
.intructions, .info{
    font: 1rem;
    color: var(--cool-gray);
    font-style: italic;
}
.progress{
    width: 100%;
    max-width: 350px;
    height: 10px;
    background-color: var(--charcoal-option);
    padding: 8px;
    display: flex;
    align-items: center;
}
.progressbar{
    height: 100%;
    width: 0%;
    padding: 4px;
    background-color: var(--veronica-btn);
}
.progress.hide{
    display: none;
}
.question{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.btn{
    width: 100%;
    max-width: 550px;
}
.next-btn{
    padding: 0.5rem 4rem;
    text-align: center;
    background-color: var(--veronica-btn);
    width: 100%;
    cursor: pointer;
}

.next-btn.empty{
    cursor: not-allowed;
    background-color: var(--veronica-btn-empty);
    color: rgba(255, 255, 255, 0.445);
}
.overlay{
    background-color: var(--cool-gray2);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: scaleUp 1s;
}
.overlay div h3{
    font-family: outfitBold;
    font-size: 2rem;
    color: var(--veronica-btn);
}
.overlay div p{
    font-family: outfitSemiBold;
    font-size: 1.5rem;
    color: var(--cool-gray);
}
.overlay div button{
    padding: 0.5rem 4rem;
    text-align: center;
    background-color: var(--veronica-btn);
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
}
.overlay div .close-btn{
    background-color: white;
    border: 2px solid var(--veronica-btn);
    color: var(--veronica-btn);
}
.overlay div div{
    display: flex;
    flex-direction: row;
}
@keyframes scaleUp {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}
.head{
    color: #4299e1;
    color: rgb(65, 62, 62);
    font-family: outfitSemiBold;
}
.cardBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #4299e1;
    font-family: outfitBold;
}
li{
    list-style: none;
    color: black;
    font-size: 13px;
}
ul{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.cardFooter button:hover{
    background-color: var(--veronica-btn);
    color: white;
    transition: background-color 0.5s;
}

@media screen and (max-width: 768px) {
    .header{
        padding: 1rem 2rem;
    }
    .content_body{
        padding: 2rem 2rem;
        height: 100%;
    }
    .option{
        width: 100%;
    }
    .progress{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    .next-btn{
        padding: 0.5rem 2rem;
    }
    .overlay div h3{
        font-size: 1.5rem;
    }
    .overlay div p{
        font-size: 1rem;
    }
    .overlay div button{
        padding: 0.5rem 2rem;
    }
}
@media screen and (max-width: 480px) {
    .header{
        padding: 0.5rem 1rem;
    }
    .content_body{
        padding: 1rem 1rem;
        height: 100%;
    }
    .option{
        width: 100%;
    }
    .progress{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    .next-btn{
        padding: 0.5rem 1rem;
    }
    .overlay div h3{
        font-size: 1.2rem;
    }
    .overlay div p{
        font-size: 0.8rem;
    }
    .overlay div button{
        padding: 0.5rem 1rem;
    }
}
